<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 47.68px">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex,nofollow" />
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport" />
    <title>lotus lottery Lottery</title>
    <link href="/css/account/chunk-vendors.css" rel="stylesheet" />
    <link href="/css/account/app.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    		<link rel="stylesheet" href="https://goagames.in/assets/css/modules-8b01ca49.css">
		<link rel="stylesheet" href="https://goagames.in/assets/css/page-activity-323fd479.css">
		<link rel="stylesheet" href="https://goagames.in/assets/css/page-home-fe71694e.css">
		<link rel="stylesheet" href="https://goagames.in/assets/css/index-0d5f8a5b.css">
	<link rel="modulepreload" as="script" crossorigin="" href="/assets/js/page-login-65aad3be.js"><link rel="stylesheet" href="https://goagames.in/assets/css/page-login-b269684e.css">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #9195a3;
            padding: 0;
            margin: 0;
        }

        .msg-content {
            animation: zoom-in 0.45s ease reverse;
        }

        @keyframes zoom-in {
            0% {
                opacity: 1;
                transform: scale(1, 1);
            }

            50% {
                transform: scale(0.6, 0.6);
            }

            100% {
                opacity: 0;
                transform: scale(1, 1);
            }
        }
        .btn {
  border: 1px solid red;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 20px;
  height: 43px;
  cursor: pointer;
  box-shadow: 1px 1px 10px #888888;
  width: 90%;
  margin-left: 16px;
}

.success {
  font-weight: 600 ;
  color: red;
}
.footer{
	margin-top: 1vw;
	display: flex;
	width: 100%;
}
.footer .footer_data{
    width: 50%;
}
.footer .footer_data img{
    width: 4vw; 
    margin-left: 4.2vw;
}
.footer .footer_data p{
    text-align:center;
}
 @media (max-width:600px) {
 .footer {
        margin-top: 5vw;
        display: flex;
        width: 100%;
    }
    .footer .footer_data img {
        width: 10vw;
        margin-left: 15vw;
    }
 }

    </style>
</head>

<body style="font-size: 12px">
    <div id="app">
        <div data-v-a0753f48="" class="mian login">
            <div data-v-a0753f48="" class="login-banner">
                <div data-v-a0753f48="" class="bankPage c-row c-row-middle-center">
                    <div data-v-a0753f48="" class="bank c-row c-row-middle-center" onclick="location.href='/home'">
                        <img data-v-a0753f48="" src="/images/back.c3244ab0.png" class="navbar-back" />
                    </div>
                </div>
                <img data-v-a0753f48="" src="/images/espgame.png" class="logo" style="height: 100px; width: 100px;" />
            </div>
            <div data-v-a0753f48="" class="login-box" style="padding-bottom: 50px;">
                <div data-v-a0753f48="" class="tit">login with phone</div>
                <div data-v-a0753f48="" class="mian-from">
                    <div data-v-a0753f48="" class="lab">
                         <span data-v-a0753f48=""> </span>
                    </div>
                <div data-v-5f6a9e3a="" class="phoneInput__container-label"><img data-v-5f6a9e3a="" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAM1BMVEUAAABIgP9Hf/9HgP9If/9If/9Hf/9GgP9Hf/9Kgf9GgP9Hgf9Kf/9Qhv9HgP9HgP9Hgf8yzScUAAAAEHRSTlMAmXO/YEBOf1Yej98wE6+P35gKawAAAHZJREFUSMft0EsOgCAMRdECyh91/6t1RDSN8OpITLjDpmfyaOiC1418oYes6mTRPxZFgQIDHgHPgEZATzDBBH8Cr7MLaGXAHCDzKTB1mU0G1HVVInBbXItAWms2jbKSCOwIRAYyAoFYrv/viLDg/7wQTaOYaeRObJUeiXwXMZUAAAAASUVORK5CYII=" class="phoneInput__container-label__icon"><span data-v-5f6a9e3a="">Phone number</span></div>
                    <div data-v-a0753f48="" class="item c-row c-row-center first" style="background-color: #fff">
                        <div data-v-a0753f48="" class="c-row number">
                            
                            <div data-v-a0753f48="" class="p-l-5">+91</div>
                        </div>
                        <input data-v-a0753f48="" type="tel" maxlength="10" type="text" placeholder="Please Enter the Phone Number" oninput="value=value.replace(/\D/g,'')"/>
                        <!-- oninput="value=value.replace(/\D/g,'')" -->
                    </div>
                   <div data-v-2c10910c="" class="passwordInput__container-label"><img data-v-2c10910c="" class="passwordInput__container-label__icon" data-origin="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAARVBMVEUAAABIgP9Gf/9GgP9Hgf9HgP9HgP9Hgf9Hgf9If/9Gf/9JgP9Hf/9Hgf9Hgf9Hgf9HgP9Ggf9Ggf9Hf/9McP9HgP9Hgf8A23ijAAAAFnRSTlMAmSGDj3FB7985TBMQr6G/X89pVgq/Au04/QAAAS5JREFUSMfdlNkWgyAMRFkSkIK4lv//1CLt0cpWeO28iblMchgg/ym2rRwopRw31lAugH6JK1KXxlAHnCOHN6Kr9dyXoNKfL4UHsVeA2f9nt3n8Dmtl3LQDDZSymkEypKhZAOXJ2g4U9nJHa8a23JOiVGQO5uoz1sPvld3m0QWwMrD1AnM3YK1giZTNAwIW6QqSixWx7+R+aLhnbHCuixhdg6YvA9ekaw7eBlzJTCaWgGiTucYTWKI/YLLGwwnI1DpHyBO4rz+PY0RUaa8FQBwx9No81wQYomnQTkwTcAQ0iBHS6LC/Ad3oIMLdC7dgLgBpZtQ6H1kb8kD/OcQhsCHJBqLlpZLuicMky1lC1yQ8AdMGsM4bZ8kl03unCbO/6kcTPzQ4lh4mOYzIyB/pBbdnSf64MvFTAAAAAElFTkSuQmCC" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAARVBMVEUAAABIgP9Gf/9GgP9Hgf9HgP9HgP9Hgf9Hgf9If/9Gf/9JgP9Hf/9Hgf9Hgf9Hgf9HgP9Ggf9Ggf9Hf/9McP9HgP9Hgf8A23ijAAAAFnRSTlMAmSGDj3FB7985TBMQr6G/X89pVgq/Au04/QAAAS5JREFUSMfdlNkWgyAMRFkSkIK4lv//1CLt0cpWeO28iblMchgg/ym2rRwopRw31lAugH6JK1KXxlAHnCOHN6Kr9dyXoNKfL4UHsVeA2f9nt3n8Dmtl3LQDDZSymkEypKhZAOXJ2g4U9nJHa8a23JOiVGQO5uoz1sPvld3m0QWwMrD1AnM3YK1giZTNAwIW6QqSixWx7+R+aLhnbHCuixhdg6YvA9ekaw7eBlzJTCaWgGiTucYTWKI/YLLGwwnI1DpHyBO4rz+PY0RUaa8FQBwx9No81wQYomnQTkwTcAQ0iBHS6LC/Ad3oIMLdC7dgLgBpZtQ6H1kb8kD/OcQhsCHJBqLlpZLuicMky1lC1yQ8AdMGsM4bZ8kl03unCbO/6kcTPzQ4lh4mOYzIyB/pBbdnSf64MvFTAAAAAElFTkSuQmCC"><span data-v-2c10910c="">Password</span></div>
                    <div data-v-a0753f48="" class="item c-row c-row-center" style="background-color: #fff">
                        
                        <input data-v-d8986e5e="" data-v-a0753f48="" type="password" placeholder="Please Enter Password" οnkeyup="value=value.replace(/[^\w\.\/]/ig,'')" class="pw-input" id="pass_log_id"/>
                        <span toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-password" style="margin: 10px;"></span>
                    </div>
                    <div data-v-a0753f48="" class="mian-btn">
                        <button data-v-a0753f48=""
                            class="gradient van-button van-button--default van-button--normal van-button--block van-button--round"
                            style="color: color: rgb(169 127 127); width: 90%;
                                                        background: linear-gradient(180deg,#cfd1df 0%,#c8cada 100%);
                                                        margin-bottom: 10px;">
                            <div data-v-a0753f48="" class="van-button__content">
                                <span data-v-a0753f48="" class="van-button__text">
                                    <span data-v-a0753f48="">Login</span>
                                </span>
                            </div>
                        </button>
                    </div>
                     <div data-v-a0753f48="" class="mian-btn">
                        <button class="btn success" style="border-radius: 50px;    display: flex;
                                justify-content: center;
                                align-items: center;">
                                    <span data-v-a0753f48="" class="p-r-5" onclick="location.href='/register'">Register</span>
                        </button> 
                    </div>

					<div class="footer" >
					<div class="footer_data">
						<img src="/images/forgetpassword-efa5d149.png" class="" onclick="location.href='/forgot'">
						<p>Forget Password</p>
					</div>
					<div class="footer_data">
					<img src="/images/customer-5ef38c22.png" class="" onclick="location.href='https://telegram.dog/'" >
					<p>Contact US</p>
				</div>
										 
									</div>


                        
                    </div>
                </div>
            </div>
            <!---->
            <div data-v-7692a079="" data-v-a0753f48="" class="Loading c-row c-row-middle-center" style="display: none">
                <div data-v-7692a079="" class="van-loading van-loading--circular">
                    <span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular"
                        style="color: rgb(242, 65, 59)">
                        <svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular">
                            <circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
        <div data-v-7692a079="" data-v-7ee4aaeb="" class="Loading c-row c-row-middle-center" style="display: none;"><div data-v-7692a079="" class="van-loading van-loading--circular"><span data-v-7692a079="" class="van-loading__spinner van-loading__spinner--circular" style="color: rgb(242, 65, 59);"><svg data-v-7692a079="" viewBox="25 25 50 50" class="van-loading__circular"><circle data-v-7692a079="" cx="50" cy="50" r="20" fill="none"></circle></svg></span></div></div>
    </div>
    <div class="van-overlay" style="z-index: 2003; display: none;"></div>
    <div class="alert-toast"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }
        function getCookie(cname) {
            let name = cname + "=";
            let decodedCookie = decodeURIComponent(document.cookie);
            let ca = decodedCookie.split(';');
            for (let i = 0; i < ca.length; i++) {
                let c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function unsetCookie() {
            setCookie('token', '', 0);
            setCookie('auth', '', 0);
        }
        // $.ajax({
        //     type: "GET",
        //     url: "/api/webapi/GetUserInfo",
        //     data: {
                
        //     },
        //     dataType: "json",
        //     success: function (response) {
        //         if (data.status === false) {
        //             unsetCookie();
        //             return false;
        //         };
        //         location.href = "/";
        //     }
        // });
        // fetch('/api/webapi/GetUserInfo')
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log(data);
        //         if (data.status === false) {
        //             unsetCookie();
        //             return false;
        //         };
        //         location.href = "/";
        //     });
    </script>
    <script>
        function setCookie(cname, cvalue, exdays) {
            const d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            let expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        }

        function alertMess(text) {
            let length = $('.alert-toast .msg').length;
            if (length == 0) {
                $('.alert-toast').append(
                    `
                    <div data-v-1dcba851="" class="msg">
                        <div data-v-1dcba851="" class="msg-content" style=""> ${text} </div>
                    </div>
                    `
                );
                setTimeout(() => {
                    $('.msg').fadeOut();
                    setTimeout(() => {
                        $('.alert-toast .msg').remove();
                    }, 100);
                }, 1500);
            }
        }

        function validateForm(username, password, text) {
            if (!username || !password) {
                alertMess(text);
                return false;
            } else {
                return true;
            }
        }

        $('button').click(async (e) => {
            e.preventDefault();
            let username = $('input:eq(0)').val().trim();
            let password = $('input:eq(1)').val().trim();
            let status = validateForm(username, password, 'Please fill in the necessary part.');
            if (status) {
                $('.van-overlay').fadeIn(10);
                $.ajax({
                    type: "POST",
                    url: "/api/webapi/login",
                    data: {
                        username: username,
                        pwd: password,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status === true) {
                            $('.van-overlay').fadeOut(300);
                            $('.Loading').fadeIn(10);
                            setCookie('token', response.token, 1);
                            setCookie('auth', response.value, 1);
                            // alertMess(response.message);
                            setTimeout(() => {
                                location.href = '/home';
                            }, 500);
                        } else {
                            $('.van-overlay').fadeOut(300);
                            alertMess(response.message);
                        }
                    }
                });
            }

        });
    </script>
    <script>
        let getWBody = $('.mian').width();

        $('html').css('font-size', `${getWBody / 10}px`);
        $('.van-tabbar .van-tabbar-item').css({
            'transform': 'scale(0.9)',
        });
        $(window).resize(() => {
            let getWBody = $('.mian').width();
            $('html').css('font-size', `${getWBody / 10}px`);
            $('.van-tabbar .van-tabbar-item').css({
                'transform': 'scale(0.9)',
            });
        });
    </script>
    <script>
    $(document).on('click', '.toggle-password', function() {

    $(this).toggleClass("fa-eye fa-eye-slash");
    
    var input = $("#pass_log_id");
    input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
});
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</body>

</html>